body {
  margin: 0;
  text-align: center;
}

.header {
  position: relative;
  display: flex;
  height: 5rem;
}

.header__title {
  flex: 1;
  width: 10rem;
  border: solid red 5px;
}

.header__menu {
  flex: 3;
  width: 10rem;
  border: solid yellow 5px;
}

nav li {
  display: inline;
  margin: 0 10px;
}

nav a {
  text-decoration: none;
}

.header__user {
  flex: 1;
  width: 10rem;
  border: solid green 5px;
}

.footer {
  height: 8rem;

  border: solid red 3px;
}
